@import '~antd/dist/antd.less';

// @primary-color: @green-5;
@icon-url: "/fonts/iconfont";

.App {
  text-align: center;
}

.white-page {
  background: #fff;
  border-radius: 4px;
  padding: 24px 0 0;
  margin-bottom: 24px;
}

.text-center {
  text-align: center;
}

body * {
  font-size: 14px;
}
