.label-row {
  width: 100%;
  background: #f7f7f7;
  color: rgba(0, 0, 0, 0.85);
  padding: 5px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.label-row.currentDay{
  background: #daeeff;
}
.label-add-expence button {
  margin-right: 5px;
}